
<div class="col-md-12 topbar adminbar">
  <nav class="mdl-navigation col-md-6">
    <a class="mdl-navigation__link" href="/admin">Admin Panel</a>
    <a class="mdl-navigation__link" href="/admin/events">Manage Events</a>
    <a class="mdl-navigation__link" href="/admin/subcards">Manage Subscriptions</a>
    <a  class="mdl-navigation__link" href="/admin/gym/new/">New Gym</a>
  </nav>

  <div class="col-md-2">
      <form method="post" action="../admin/subcards" class="col-md-12">
        <div class="col-md-6">
          <input type="text" class="subcard-search" placeholder="email" name="email" />
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>

  </ul>
</div>

<div class="col-md-12">
  <h3 class="page-header">Search client</h3>
</div>
</div>
