<div class="col-md-6">
  <div class="registration-card mdl-card mdl-shadow--6dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Sign up</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form method="post" action="/users/register">
       <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name">
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username">
      </div>
       <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password">
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password2">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
</div>
