
<h2 class="page-header">Search client</h2>

<form method="post" action="/admin/subcards">

<label for="searchuser">Client's email:</label>
<input type="text" placeholder="email" name="usernname" />
</form>
