
  <section class="col-md-12">
    <div class="home-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="page-header">Dashboard</h2>
      </div>

      <div class="mdl-card__supporting-text">
        <p>Welcome to your dashboard</p>
      </div>
    </section>

    <section class="col-md-5">
      <h3>Subcription Cards</h3>
      <p>
        Lorem ipsum lorem ipsum.
      </p>
    </section>
  </div>






  <section class="col-md-5">
    <h3>Your events</h3>
    <p>
      Lorem ipsum lorem ipsum.
    </p>
  </section>
</div>
