:root {
  --border-main-color: #F5F6F8;
}


body {
  font-size: 14px;
  background-color: #F5F5F5 !important;
}

.logo {
  padding-top: 22px;
  padding-left: 30px !important;
  height: 70px;
}


.login .form-control {
  padding: 5px !important;
  height: 25px !important;
}

.login .btn-sm {
  line-height: 1 !important;
  margin-top: 29px;
}

.login label {
  padding-left: 30px;
}

.homebg {
  height: 350px;
  background-image: url('/img/homebg.jpg');
  background-size: cover;
  color: white;
  padding: 15px;
}


/* Registration Card */
.registration-card.mdl-card,
.home-card.mdl-card,
.new-gym-card.mdl-card {
  width: 90%;
  margin: 30px;
}

.registration-card > .mdl-card__title {
  height: 350px;
  background-image: url('/img/homebg.jpg');
  background-size: cover;
  color: white;
}

.news {
  padding: 0 10px;
}

/* Dashboard */

.topbar {
  height: 50px;
  background-color: white;
  padding-left: 25px;
  }

  .topbar nav a:link,
  .topbar nav a:visited {
    margin: 12px;
    font-size: 14px;
    font-weight: bolder;
  }

  .topbar nav a:hover {
    text-decoration: none;
  }

  .profile {
    position: absolute !important;
    right: 30px;
    top: 25px;
    color: white;
  }
