:root {
  --border-main-color: #F5F6F8;
}


body {
  font-size: 14px;
  background-color: #F5F5F5 !important;
}

.logo {
  padding-top: 22px;
  padding-left: 30px !important;
}


.login .form-control {
  padding: 5px !important;
  height: 25px !important;
}

.login .btn-sm {
  line-height: 1 !important;
  margin-top: 29px;
}

.login label {
  padding-left: 30px;
}

.homebg {
  height: 350px;
  background-image: url('/img/homebg.jpg');
  background-size: cover;
  color: white;
  padding: 15px;
}


/* Registration Card */
.registration-card.mdl-card,
.home-card.mdl-card {
  width: 90%;
  margin: 30px;
}

.registration-card > .mdl-card__title {
  height: 350px;
  background-image: url('/img/homebg.jpg');
  background-size: cover;
  color: white;
}

.news {
  padding: 0 10px;
}
